body {
    font-family: "Trirong", serif;
    font-size: 13px;
    text-shadow: 3px 3px 3px #b591e5;
    background-color: #e99bdc;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    text-align: center;
}

.container {
    text-align: center;
    text-emphasis: none;
}

input[type="number"] {
    width: auto;
    height: 30px;
    border: tan;
}

button {
    background-color: #8d0076;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    opacity: 0.9;
}

